<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head') %>
    <title>Homepage</title>
    
  </head>
  <body>
    <%- include('./partials/nav') %>

     <h3 class="mt-3 ms-3" id="greetingText"></h3>



    <div class="container mt-3">
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    <% blogs.forEach(blog => { %>
      <div class="col">
        <div class="card h-100">
          <img src="<%= blog.coverImageURL %>" class="card-img-top" alt="..." />
          <div class="card-body d-flex flex-column">
            <h6 class="card-title"><%= blog.title %></h6>
            <a href="/blog/<%= blog._id %>" class="btn btn-primary mt-auto">View</a>
          </div>
        </div>
      </div>
    <% }) %>
  </div>
</div>

<script>
  const userName = "<%= user.fullName %>";
  const message = `🌟 Welcome back, <%= user.fullName %>! Ready to explore some awesome blogs ? ✨`;
  let index = 0;
  const speed = 50;

  function typeWriter() {
    if (index < message.length) {
      document.getElementById("greetingText").innerHTML += message.charAt(index);
      index++;
      setTimeout(typeWriter, speed);
    }
  }

  window.onload = typeWriter;
</script>


    <%- include('./partials/script') %>
  </body>
</html>
